extends layout
block content
  .profile-circle
  p.bio
    | Hi! <br />
    | I'm Fredrik. I like to build stuff. <br />
    | Check out some of my 
    a(href="projects") Projects
    |.
  ul.links
    li
      a(href="http://github.com/drikerf")
        i.fa.fa-github
    li
      a(href="mailto:fhallsmar@gmail.com")
        i.fa.fa-at

