extends layout
block content
  a(href="/").back back
  h1 Projects
  .row
    img(src='img/tripscribble.jpg')
    p. 
      Tripscribble <br />
      Travel experience website where users "Scribble" experiences.
      Scribbles consist of a short text, a photo. Scribbles are geotagged and
      can be searched by location. Backend is written in Python (Flask).<br />

  .row 
    p. 
      Samuraizer <br />
      Summarizer library for Python 3. Uses stopwords and suffix stemming 
      algorithm to extract keywords from data.
    a(href='http://github.com/drikerf/samuraizer') Source

  .row
    img(src='img/sparris.jpg')
    p. 
      Sparris <br />
      Webapp to encourage more spontanous acting.
      Written in NodeJS and powered by Foursquare API it let's users get suggestions on what to do
      close by. Text and photos are fetched from Foursquare reviews.
    a(href='http://github.com/drikerf/sparris') Source
      
  .row
    img(src='img/bitter8.jpg')
    p. 
      Bitter8 <br />
      Simple drawing app with a NodeJS backend 
      where users can draw a picture with basic colors
      on a 8x8 grid and and send it to friends who can see it and
      continue drawing on it.
    a(href='http://github.com/drikerf/bitter8') Source

  .row
    img(src='img/drikerf.jpg')
    p.
      Drikerf <br />
      The page you're on. Just static pages for now but you just wait!
    a(href='http://github.com/drikerf/drikerf') Source
