/* Main style */

/* Body */
body {
    margin: 0 auto;
    width: 90%;
    background-color: #527578;
    color: #ffffff;
    font-family: 'Inika', serif;
}

/* Header */
h1 {
    font-family: 'Allan', cursive;
    font-weight: 700;
    font-size: 90px;
    margin-bottom:-20px;
}

/* Bio */
p.bio {
    font-size: 36px;
}

/* Links */
ul.links {
		display: inline;
		padding-left: 0px;
		font-size: 36px;
}

ul.links li {
	display: inline;
}

ul.links a, a:visited, a:active, a:hover {
    color: #FF7F24;
    text-decoration: none;
}

/* Wrapper */
.wrapper {
}
